@import 'utils/variables';
@import 'components/type';

.title{
  color: #88f;
  font-size: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--line{
    display: block;
  }

  &--bold{
    color: #8FF;
  }
}
